# Prisma Database Connection String
# Postgres Container Service
# DATABASE_URL=postgresql://user:password@service:5432/dbName?schema=public

# Local Postgres
DATABASE_URL=postgresql://user:password@localhost:5432/dbName?schema=public

# Database Configuration
DB_PORT=

# PostgreSQL Configuration
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=