# Application Configuration
NODE_ENV=
PORT=
HOST=

# Prisma Database Connection String
# Postgres Container Service
# DATABASE_URL=postgresql://user:password@service:5432/dbName?schema=public
# Local Postgres
DATABASE_URL=postgresql://user:password@localhost:5432/dbName?schema=public

# Database Configuration
DB_PORT=

# PostgreSQL Configuration
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

#JWT Configuration
JWT_ACCESS_TOKEN_SECRET=
JWT_ACCESS_TOKEN_EXPIRES_IN=15m
JWT_REFRESH_TOKEN_SECRET=
JWT_REFRESH_TOKEN_EXPIRES_IN=7d

# Bcrypt Configuration
BCRYPT_SALT_ROUNDS=12

# Cookie Configuration
AUTH_COOKIE_SECURE=
AUTH_COOKIE_SAME_SITE=
AUTH_COOKIE_DOMAIN=
# Development Cookie Configuration
# AUTH_COOKIE_SECURE=false
# AUTH_COOKIE_SAME_SITE=lax
# Production Cookie Configuration
# AUTH_COOKIE_SECURE=true
# AUTH_COOKIE_SAME_SITE=none
# AUTH_COOKIE_DOMAIN=.example.com